<h2>Welkom op de Crop-R Demo applicatie</h2>

<div class="well">
<p>
Deze demo applicatie maakt gebruik van de nieuwe Crop-R API met oauth2 ondersteuning.
Om gebruik te maken van deze applicatie moet je eerst een account aanmaken in de database. Ga dan naar <a href="{% url 'map' %}">Rainfall</a> en druk op autoriseren.
</p>
<p>
De demo applicatie haalt alle gewaspercelen op van de Crop-R account en koppelt de actuele neerslagvoorspelling voor de komende 2 uur op.
Hiervoor wordt de <a href="http://gratisweerdata.buienradar.nl/">buienradar api</a> gebruikt.
</p>
</div>